@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
.dropdown {
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 4px 10px rgba(36, 45, 55, 0.4);
}
nav { 
 padding: 10px; background-color: white;
}
#chat_box {  
  background-color: whitesmoke;  
  height: 600px;
}

a{

  color: black !important;
}

.brand-logo {
  font-family: 'Grand Hotel', cursive;
}

.mycard{
  margin-top: 30px;
}
.auth-card{
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type=text]:focus {

  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
}

/* rgb(8, 93, 252) !important; */
.input-field input[type=password]:focus {
  border-bottom: 1px solid var(--main-color) !important;
  box-shadow: 0 1px 0 0 var(--main-color)!important;
}   
.input-field input[type=checkbox]:focus {
  border-bottom: 1px solid var(--main-color)!important;
  box-shadow: 0 1px 0 0 var(--main-color) !important;
} 
.input-field label:focus {
  border-bottom: 1px solid var(--main-color)!important;
  box-shadow: 0 1px 0 0 var(--main-color)  !important;

}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  width: 30%;
}

.home-card{
  max-width: 500px;
  height: fit-content;
  margin: 26px auto;
  
}
.collection-item{
  width: 100%;
}

.card-image > img {
  object-fit: cover;
  max-height: 500px ;
}

#toast-container{
  top:30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover{
  cursor: pointer;
}

/* Customize the label (the container) */
.container { 
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
 } 

/* Hide the browser's default checkbox */
 .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} 

/* Create a custom checkbox */
 .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} 

/* On mouse-over, add a grey background color */
 .container:hover input ~ .checkmark {
  background-color: #ccc;
} 

/* When the checkbox is checked, add a blue background */
 .container input:checked ~ .checkmark {
  background-color: var(--main-color);
} 

/* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
  content: "";
  position: absolute;
  display: none;
} 

/* Show the checkmark when checked */
 .container input:checked ~ .checkmark:after {
  display: block;
} 

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3.5;
}


.chatBox {
  flex: 5.5;
}

.chat {
  flex: 3;
}

.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.conversationImg {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  width: 40px;
  height: 40px;
}

.conversationName {
  font-weight: 500;
}

.messageTop {
  display: flex;
}

.messageBottom {
  font-size: 12px;
  margin-top: 10px;
}

.message .own {
  align-items: flex-end;
}

.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: rgb(245, 241, 241);
    color: black;
}


.conversation:hover {
  background-color: rgb(245, 243, 243);
}

.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .conversationName {
    display: none;
  }
}

.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid gray;
}

.chatBox {
  flex: 5.5;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90px;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatOnline {
  flex: 3;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.noConversationText {
  position: absolute;
  top: 10%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

@media screen and (max-width: 768px) {
  .chatMenu {
    flex: 1;
  }

  .chatMenuInput {
    display: none;
  }

  .chatBox{
    flex: 10;
  }

  .chatOnline{
    flex: 1px;
  }
}

.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 2px;
  right: 2px;
}

@media screen and (max-width: 768px) {
  .chatOnlineName {
    display: none;
  }
}
.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.conversationImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.rightbarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.rightbarProfileImgContainer {
  margin-right: 10px;
  position: relative;
}

.rightbarProfileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 2px solid white;
}

.rightbarUsername{
    font-weight: 500;
}